{% load cms_tags sekizai_tags menu_tags page_tags %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>OPSN - {{ request.current_page.get_title|default:"Affichage" }}</title>
    <meta name="keywords" content="{{ request.current_page.pagetagging.page_tags }}" />
    <link rel="icon" type="image/png" href="{% static "style/logo_128.png" %}" />
	<script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
	<script src="{% static "js/jquery.jtruncate.js" %}"></script>
	<script src="{% static "js/script.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% render_block "css" %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static "style/bootstrap.min.css" %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static "style/stylesheet.css" %}" media="all" />
	<link rel="stylesheet" href="{% static "style/font-awesome/css/font-awesome.min.css" %}" media="all">
{% endaddtoblock %}
</head>

<body>

    {% cms_toolbar %}
    {% render_block "js" %}
    
<div id="main" class="container">
    <div id="header" class="row">
        <a id="home" href="/"></a>
    </div>

    <ul id="menu" class="row">
        <li id="menu-toggle" class="sibling"><a href="#"></a></li>
        {% show_menu 0 0 %}
    </ul>

{% block main %}{% endblock %}

    <div id="footer" class="row">
{% pages_with_tags 'footer' order alphabetical as page_list %}
{% for p in page_list %}
        <a href="{{ p.get_absolute_url }}">{{ p.get_title }}</a>
{% endfor %}
    </div>
</div>

</body>
</html>
