{% extends "main.html" %}

{% load cms_tags menu_tags %}

{% block main %}

<div class="row">

    <div id="col-left" class="col col-md-2">
        <div id="col-left-toggle"><a href="#"></a></div>
{% show_breadcrumb 1 "breadcrumbs.html" %}
{% if request.current_page.children.count %}<ul id="page-children">{% show_sub_menu 1 %}</ul>{% endif %}
    </div>

    <div class="col col-md-8 page">
        <h1>{{ request.current_page.get_title }}</h1>
{% placeholder "page" %}
    </div>

    <div id="col-right" class="col col-md-2">
        {% placeholder "right" %}
    </div>

</div>

{% endblock %}
